body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1200) {
  html {
    font-size: 93.75% !important;
  }

  h4{
    font-size: 18px !important;
  }

  .container-buttons-card{
    flex-wrap: wrap-reverse !important;
  }

  .cardImg{
    max-height: 100px !important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5% !important;
  }
  
  .menu-header{
    display: none !important;
  }

  .off-canvas{
    width: 110px;
    font-size: 85%;
  }

  .categoriaBtn{
    font-size: 83% !important;
  }

  .preview {
    background-color: red;
    display: none !important;
  }

  .categoriaForm {
    flex-direction: row !important; 
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .form-check {
    margin-right: 10px;
  }
}
